.skill-img{
    filter: brightness(50%);
    height: 600px;
}
.heading-color{
    color: #4A4A4A;
;
}
.p-color{
    color: #777777;
}
.sec-header{
    color: #1d1d1d;
}
.elearning-bg{
    background-color: #F4FAFD;
}
.elearning-margin{
    margin-left: -10px;
}
.fa-star{
    color: #F59E0B;
}
@media only screen and (min-width:769px) {
    .asked-ques{
        width: 50%;
    }
}
@media only screen and (max-width:768px) {
    .asked-ques{
        width: 100%;
    }
}